@media (max-width:999px) {
    .sub-heading-bg {
        padding-top: 2%;
    }
}

@media (max-width:768px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 35px;
    }

    p {
        font-size: 14px;
    }

    .three-cards {
        width: 100%;
    }

    .banner-bg {
        background-size: cover;
    }

    .footer-bg {
        margin-top: -7%;
    }

    .plastic-dustbin {
        transform: translateY(0);
    }
}

@media (max-width:400px) {
    .contact-us{
        margin-top: 3rem;
    }
    .footer-bg {
        padding-top: 11%;
    }

    a {
        font-size: 11px;
    }

    .sub-heading-bg {
        background-size: cover;
    }

    .three-cards {
        position: static;
    }

    .footer-bg {
        margin-top: -12%;
    }

    .btn-green button {
        padding: 8px 14px;
        font-size: 13px;
    }
}